body {
    height:200vh;
    background-image: url(../images/bg1.png);
    /* background- 시작속성들은 배경이미지 전용 */
    background-size:100% auto;
    /* background-repeat: no-repeat; */
    background-position:left top;
    background-attachment:fixed;/* 배경고정 */
}
#slide_wrap {
    width:549px; height:298px;
    background-color:aqua;/* 테스트 임시색상은 aqua, yellow 영문명 색상 실제 디자인 색상은 #... 헥사코드로 입력 */
    margin: 109px auto 0;
    /* 피그마 넘친 콘텐츠 숨기기 */
    overflow:auto;
}
#slide_wrap .slide_container {
    /* 기본 너비값 100% (부모와 같음 */
    width:max-content;
}
#slide_wrap .slide_container .slide {
    width:549px; height:298px;
    display: inline-block;
}
#slide_wrap .slide_container .slide:nth-child(1) {background-color: chartreuse;}
#slide_wrap .slide_container .slide:nth-child(2) {background-color: lightgreen;}
#slide_wrap .slide_container .slide:nth-child(3) {background-color: powderblue;}
#slide_wrap .slide_container .slide:nth-child(4) {background-color: yellow;}
#slide_wrap .prev {}
#slide_wrap .next {}
/* 베스트슬라이드 */
#best_slide_wrap {
    width: 1200px;/* 뷰포트는 높이 안써도 괜찮음 */
    /* w 기본값(100%) h 기본값(auto(hug)) */
    margin: 100px auto;
    overflow:auto;
}
#best_slide_wrap h1 {}
#best_slide_wrap .slide_container {
    width: max-content;
}
#best_slide_wrap .slide_container .slide {
    width: 600px; height: 500px;
    font-size:3rem;
    /* display: inline-block;
    margin-right: -3px; */
    /* inline-block으로 옆으로 정렬 시 기본여백발생으로
    margin-right:-3px로 제거하는 작업을 해줘야한다. */
    /* 옆으로 나열하는 레이아웃 속성(형제관계) */
    float:left;
}
#best_slide_wrap .slide_container .slide:nth-child(1) {background-color: gold;}
#best_slide_wrap .slide_container .slide:nth-child(2) {background-color: chartreuse;
    clear:both;
}
#best_slide_wrap .slide_container .slide:nth-child(3) {background-color: blue;
    /* float:none; */
    /* float:none -> float를 모두 해제함*/
    /* clear:both; */
    /* clear:both -> 이전 형제에서 온 float를 모두 해제함 */
}
#best_slide_wrap .slide_container .slide:nth-child(4) {background-color: coral;}